li {
    cursor: pointer;
    list-style-type: none;
    margin: 30px;
    width: 200px;
}
li:hover{
    text-decoration: underline;
    font-weight: 700;
}

#main {
    display: flex;
    justify-content: space-around;
    align-items: start;
}
h1{
    text-align: center;
    margin: 100px;
}
